@font-face {
    font-family: digital-7;
    src: url('digital-7 (mono).ttf');
}

html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #cccccc;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #cccccc;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.calc {
    text-align: center;
    border: 2px solid #FF7F50;
    border-radius: 0.625em;
    /*width: 18.75em;*/
    width: auto;
    padding: 0.3125em;
    background-color: #FFA07A;
}

.display {
    font-family: digital-7, Arial, sans-serif;
    font-size: 1.4em;
    /*height: 3.125em;*/
    /*width: 14em;*/
    width: 90%;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    padding: 0.625em;
    border: 2px solid #40E0D0;
    border-radius: 0.625em;
    background-color: #E0FFFF;
    text-align: right;
}

.buttons {
    margin: 0.625em;
    text-align: center;
    width: auto;
}

.button {
    background-color: #eee;
    border-radius: 0.3125em;
    margin: 0.1875em;
    width: 3.125em;
    height: 3.125em;
    cursor: pointer;
    color: #FF7F50;
    font-weight: bold;
}

.buttonbig {
    width: 6.875em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
