body {
    background-attachment: fixed;
    font-size: 16px;
}

hr {
    width: 93%;
    height: 1px;
    text-align: center;
    margin: 1em auto;
    border: none;
}

.class_hr {
    color: #dddddd;
    background-color: #dddddd;
}

.class_body {
    background-image: url("images/binding_dark.png");
}

.pannello {
    background-image: url("images/black_lozenge.png");
}

.carousel_text {
    text-shadow: none;
}

a:hover {
    text-decoration: underline;
    color: #e64d00;
}

.switch_class_body {
    background-image: url("images/concrete_seamless.png");
}

.switch_class_pann {
    background-image: url("images/seamless_paper_texture.png");
}

.switch_class_hr {
    color: #333333;
    background-color: #333333;
}