body {
    background-image: url("images/binding_dark.png");
    background-attachment: fixed;
    font-size: 16px;
}

hr {
    color: #dddddd;
    background-color: #dddddd;
    width: 93%;
    height: 1px;
    text-align: center;
    margin: 1em auto;
    border: none;
}

.carousel_text {
    text-shadow: none;
}

.pannello {
    background-image: url("images/black_lozenge.png");
}

a:hover {
    text-decoration: underline;
    color: #e64d00;
}