<article id="about" class="panel">
    <header>
        <h2>About Me</h2>
    </header>

    <p>
        I was born 29 years ago in the south of Italy, and have always been fascinated by science and computers.
    </p>
    <p>
        I finally had the chance to mix them during my MSc internship in Bioinformatics, which was focused on mitochondrial genomics data. My thesis involved working on a biological database and its web interface, so I started diving into programming, data management and web development. </p>
    <p>
        After graduating, I attended an internship at <a href="https://www.elixir-europe.org" title="ELIXIR" target="_blank">ELIXIR</a> in Cambridge, UK, where I developed the <a href="http://bioschemas.org" title="Bioschemas" target="_blank">Bioschemas</a> website, as well as a data validator for <a href="http://schema.org" title="Schema.org" target="_blank">Schema.org</a> metadata. This allowed me to deepen my knowledge of web development and design.
    </p>
    <p>I then got a PhD in Genomics and Proteomics at the University of Bari (IT), with a particular focus on creating systems to retrieve, integrate and redistribute human mitochondrial data.</p>
    <p>
        At the moment I'm working as a Scientific Software Developer at <a href="https://www.enthought.com" title="Enthought" target="_blank">Enthought</a> in Cambridge (UK), where I'm involved in building scientific applications using Python, with a particular focus on the UX perspective.
    </p>
    <p>
        More on my personal and working life in my <a href="/docs/curriculum.pdf" title="Curriculum" download="RobertoPresteCV.pdf">resume</a>.
    </p>
</article>