<article id="about">
    <h2 class="major">About Me</h2>
    <p>
        <span class="image left">
            <img src="/images/preste_roberto_web.jpg" alt="Roberto Preste">
        </span>
        I was born 28 years ago in the south of Italy, and have always been fascinated by science and computers.
    </p>
    <p>
        I finally had the chance to mix them during my MSc internship in Bioinformatics, which was focused on mitochondrial genomics data. My thesis involved working on a biological database and its web interface, so I started diving into programming, data management and web development. </p>
    <p>
        After graduating, I attended an internship at <a href="https://www.elixir-europe.org" title="ELIXIR" target="_blank">ELIXIR</a> in Cambridge, UK, where I developed the <a href="http://bioschemas.org" title="Bioschemas" target="_blank">Bioschemas</a> website, as well as a data validator for <a href="http://schema.org" title="Schema.org" target="_blank">Schema.org</a> metadata. This allowed me to deepen my knowledge of web development and design.
    </p>
    <p>
        At the moment I'm a PhD student in Bioinformatics, working on mitochondrial Big Data, so my daily tasks involve dealing with massive amounts of data, extracting useful information from biological sequences, and exporting these enhanced data through the web.
    </p>
    <p>
        More on my personal and working life in my <a href="/docs/curriculum.pdf" title="Curriculum" download="RobertoPresteCV.pdf">resume</a>.
    </p>

</article>
