<article id="about" class="panel">
    <header>
        <h2>About Me</h2>
    </header>

    <p>
        I was born 35 years ago in the south of Italy, and have always been fascinated by science and computers.
    </p>
    <p>
        I finally had the chance to mix them during my MSc internship in Bioinformatics, which was focused on mitochondrial genomics data. My thesis involved working on a biological database and its web interface, so I started diving into programming, data management and web development. </p>
    <p>
        After graduating, I attended an internship at <a href="https://www.elixir-europe.org" title="ELIXIR" target="_blank">ELIXIR</a> in Cambridge, UK, where I developed the <a href="http://bioschemas.org" title="Bioschemas" target="_blank">Bioschemas</a> website, as well as a data validator for <a href="http://schema.org" title="Schema.org" target="_blank">Schema.org</a> metadata. This allowed me to deepen my knowledge of web development and design.
    </p>
    <p>I then got a PhD in Genomics and Proteomics at the University of Bari (IT), with a particular focus on creating systems to retrieve, integrate and redistribute human mitochondrial data.</p>
    <p>
        At the moment I'm working as a Senior Software Engineer at <a href="https://www.illumina.com" title="Illumina" target="_blank">Illumina</a> in Cambridge (UK).
    </p>
    <p>
        My free time is dedicated to baking, hiking, painting, but above all making music: <a href="https://borertreetops.com" title="Borer Treetops" target="_blank">Borer Treetops</a> and <a href="https://beeresortmusic.com" title="Bee Resort" target="_blank">Bee Resort</a> are two projects of mine that I'm really proud of.
    </p>
    <p>
        You can learn more in my <a href="/docs/curriculum.pdf" title="Curriculum" download="RobertoPresteCV.pdf">resume</a>.
    </p>
</article>