<article id="blog" class="panel">
    <header>
        <h2>Blog</h2>
    </header>
    <p>
        Occasionally, I like writing about programming, data science and bioinformatics. I mostly write a post for my own later reference, but probably you might find something useful too.
    </p>
    <p>
        All my post are available through my <a href="https://medium.com/@robertopreste" title="Medium" target="_blank">Medium</a> page. Should you find one of my articles helpful, please feel free to <i>clap</i> it and share it on social media.
    </p>
</article>