<article id="intro">
    <h2 class="major">Intro</h2>
    <h3>Nice to meet you!</h3>
    <p>
        Hello! I'm Roberto, a software developer.
    </p>
    <span class="image main">
        <img src="/images/long_intro_bg.jpg" alt="Roberto Preste">
    </span>
    <p>
        I'm a biologist by training, but since I started working in Bioinformatics, I have become more and more excited by its purely informatic side.
    </p>
    <p>
        Developing algorithms, performing analysis, manipulating data and building websites to redistribute them: this is definitely my cup of tea.
    </p>
    <p>
        Currently, I'm located in Cambridge (UK), where I'm a Scientific Software Developer @ <a href="https://www.enthought.com" title="Enthought" target="_blank">Enthought</a>, while finishing my PhD in Bioinformatics. <br>
        My spare time is mostly devoted to further improving my programming, data science and machine learning skills, but I also enjoy <a href="#blog" title="Blog">writing</a> about these topics as well as <a href="#work">building</a> nice things to put this knowledge to practice.
    </p>
    <p>Sounds interesting? <br> Learn more <a href="#about" title="About">about me</a>, download my detailed <a href="/docs/curriculum.pdf" title="Curriculum" download="RobertoPresteCV.pdf">resume</a> and feel free to <a href="#contact" title="Contact">get in touch</a>.</p>
</article>
