<article id="work" class="panel">
    <header>
        <h2>Work</h2>
    </header>
    <p>
        During my PhD in Bioinformatics, my daily job involved dealing with genomics big data. I was required to mix bioinformatics analysis, data science and software and web development in order to gather interesting insights from these data, and build reliable systems to explore and manipulate them.
    </p>
    <p>
        My current job as a software engineer allows me to build upon these skills and apply them to interesting projects, while collaborating with very stimulating people. I build scientific full-stack applications using Python and a handful of other interesting tools, taking care of their whole life cycle from development to deployment.
    </p>
    <p>
        Most of my projects can be found on <a href="https://github.com/robertopreste" title="GitHub" target="_blank">GitHub</a>.
    </p>
    <section>
        <h3>Skills</h3>
        <div style="display: flex; justify-content: center;">
            <span class="tagcloud"></span>
        </div>
    </section>
</article>