<article id="work" class="panel">
    <header>
        <h2>Work</h2>
    </header>
    <p>
        During my PhD in Bioinformatics, my daily job involved dealing with genomics big data. I was required to mix bioinformatics analysis, data science and web development in order to gather interesting insights from these data, and build reliable systems to explore and manipulate them.
    </p>
    <p>
        My current job as a software developer allows me to further improve these skills, apply them to interesting projects while collaborating with very stimulating people. I build scientific applications using Python, with the aim of facilitating research through better data ingestion and manipulation pipelines and clean UI/UX approaches.
    </p>
    <p>
        Most of my projects can be found on <a href="https://github.com/robertopreste" title="GitHub" target="_blank">GitHub</a>; some examples are listed in my <a href="#portfolio" title="Portfolio">portfolio</a>.
    </p>
</article>