<article id="work" class="panel">
    <header>
        <h2>Work</h2>
    </header>
    <p>
        As a PhD student in Bioinformatics, my daily job involves dealing with genomics big data. I'm usually required to mix bioinformatics analysis, data science and web development in order to gather interesting insights from these data, and build reliable systems to explore and manipulate them.
    </p>
    <p>
        Most of my projects can be found on <a href="https://github.com/robertopreste" title="GitHub" target="_blank">GitHub</a>; here is a list of some notable things I built.
    </p>
    <section>
        <h3>Software</h3>
        <div style="display: flex; justify-content: center; margin-top: 2em; margin-bottom: -0.8em;">
            <ul class="actions">
                <li>
                    <a class="button" href="https://github.com/robertopreste/HmtNote" title="HmtNote" target="_blank"><span class="fab fa-python"></span> HmtNote</a>
                </li>
                <li>
                    <a class="button" href="https://github.com/robertopreste/apybiomart" title="apybiomart" target="_blank"><span class="fab fa-python"></span> apybiomart</a>
                </li>
                <li>
                    <a class="button" href="https://github.com/robertopreste/apyhgnc" title="apyhgnc" target="_blank"><span class="fab fa-python"></span> apyhgnc</a>
                </li>
            </ul>
        </div>
        <div style="display: flex; justify-content: center;">
            <ul class="actions">
                <li>
                    <a class="button" href="https://github.com/robertopreste/quickCI" title="quickCI" target="_blank"><span class="fab fa-python"></span> quickCI</a>
                </li>
                <li>
                    <a class="button" href="https://github.com/robertopreste/mitovizR" title="mitovizR" target="_blank"><span class="fab fa-r-project"></span> mitovizR</a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Websites and databases</h3>
        <div style="display: flex; justify-content: center; margin-top: 2em; margin-bottom: -0.8em;">
            <ul class="actions">
                <li>
                    <a class="button" href="https://www.hmtdb.uniba.it" title="HmtDB | Built with Python Flask" target="_blank"><span class="fab fa-python"></span> HmtDB</a>
                </li>
                <li>
                    <a class="button" href="https://www.hmtvar.uniba.it" title="HmtVar | Built with Python Flask" target="_blank"><span class="fab fa-python"></span> HmtVar</a>
                </li>
                <li>
                    <a class="button" href="https://www.hmtphenome.uniba.it" title="HmtPhenome | Built with Python Quart" target="_blank"><span class="fab fa-python"></span> HmtPhenome</a>
                </li>
            </ul>
        </div>
        <div style="display: flex; justify-content: center;">
            <ul class="actions">
                <li>
                    <a class="button" href="http://bioschemas.org" title="Bioschemas | Built with Jekyll" target="_blank"><span class="fab fa-html5"></span> Bioschemas</a>
                </li>
                <li><a class="button" href="https://colormaps.ml" title="colormaps.ml | Built with Jekyll" target="_blank"><span class="fab fa-html5"></span> colormaps.ml</a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Skills</h3>
        <div id="tagcloud" style="display: flex; justify-content: center;"></div>
    </section>
</article>