<!DOCTYPE html>
<html>
{% include head.html %}
<body class="is-preload">
<!-- Particles bg -->
<div id="particles-js"></div>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    {% include header.html %}
    <!-- Main -->
    <div id="main">
        <!-- Me -->
        {% include home.html %}
        <!-- About -->
        {% include about.html %}
        <!-- Work -->
        {% include work.html %}
        <!-- Blog -->
        {% include blog.html %}
        <!-- Contact -->
        {% include contact.html %}
        <!-- Thanks -->
        {% include thanks.html %}
    </div>
    <!-- Footer -->
    {% include footer.html %}
</div>
{% include scripts.html %}
</body>
</html>