---
layout: default
---

<article id="main">

    <header>
        <h2>{{ page.title }}</h2>
        {% if page.tags %}
            {% if page.category == "blog" or page.category == "webdev" or page.category == "datascience" %}
                <p>|
                    {% for tag in page.tags %}
                        <a href="{{site.url}}{{site.baseurl}}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a> |
                    {% endfor %}
                </p>
            {% endif %}
        {% endif %}

        {% if page.category == "blog" %}
            <div class="PageNavigation">
                {% if page.previous.url and page.previous.category == "blog" %}
                    <a class="prev" href="{{page.previous.url}}" title="Previous Post">&laquo; {{page.previous.title}}</a>
                {% endif %}
                {% if page.next.url and page.next.category == "blog" %}
                    <a class="next" href="{{page.next.url}}" title="Next Post">{{page.next.title}} &raquo;</a>
                {% endif %}
            </div>
        {% endif %}

        {% if page.category == "datascience" %}
        <div class="PageNavigation">
            {% if page.previous.url and page.previous.category == "datascience" %}
            <a class="prev" href="{{page.previous.url}}" title="Previous Post">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url and page.next.category == "datascience" %}
            <a class="next" href="{{page.next.url}}" title="Next Post">{{page.next.title}} &raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </header>

    <section class="wrapper alt2 style5">
        <div class="inner">
            {{ content }}
        </div>
    </section>

</article>
