---
layout: default
---

<article id="main">

    <header>
        <h2>{{ page.title }}</h2>
        {% if page.tags %}
            <p>|
                {% for tag in page.tags %}
                {{ tag }} |
                {% endfor %}
            </p>
        {% endif %}

        {% if page.category == "blog" %}
            <div class="PageNavigation">
                {% if page.previous.url and page.previous.category == "blog" %}
                <a class="prev" href="{{page.previous.url}}" title="Previous Post">&laquo; {{page.previous.title}}</a>
                {% endif %}
                {% if page.next.url %}
                <a class="next" href="{{page.next.url}}" title="Next Post">{{page.next.title}} &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    </header>

    <section class="wrapper alt2 style5">
        <div class="inner">
            {{ content }}
        </div>
    </section>

    <!--todo: add footer with parallax showing previous and next blog post-->

</article>
